/* Variables*/
:root {
    --fuentePrincipal: 'Roboto', sans-serif;
    --fuenteSecundaria: 'Lato', sans-serif;

    --separacion: 5rem;

    --primario: #1073BA;
    --secundario: #00DA55;
    --gris: #3B3B3B;
    --blanco: #FFFFFF;
    --negro: #1F1E1E;
    --grisClaro: #e1e1e1;
}

/* Globales y reset */
html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: var(--fuentePrincipal);
    font-size: 1.6rem;
    line-height: 1.5;
}

h1 {
    font-family: var(--fuenteSecundaria);
}

h1, h2, h3 {
    font-weight: 900;
    font-family: var(--fuenteSecundaria);
    margin: calc(var(--separacion) / 2) 0;
}

h1 {
    font-size: 4.4rem;
}

h2 {
    font-size: 3.6rem;
}

h3 {
    font-size: 2.8rem;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.contenedor {
    max-width: 90rem;
    width: 90%;
    margin: 0 auto;
    border-radius: .5rem;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
}

/* Header */
.header {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: var(--blanco);
    background-color: var(--negro);
    padding: 0 3rem;
}
.header__navegacion {
    display: flex;
    flex-direction: column;
    
    a {
        text-decoration: none;
        font-weight: bold;
        padding: 1rem;
        color: var(--blanco);
        border: .2rem solid transparent;
        transition: all 100ms ease-in;
        &:hover{
            border: .2rem solid var(--blanco);
            border-radius: .5rem;
            transition: all 100ms ease-in;
        }
        &:last-of-type {
            margin-bottom: 2rem;
        }
    }
}

@media (min-width: 768px) {
    .header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .header__navegacion {
        border-radius: .5rem;
        flex-direction: row;
        gap: 1rem;
        margin-bottom: 0;
        a{
            &:last-of-type{
                margin-bottom: 0; 
            }
        } 
    }
}

/* Main */
.main {
    text-align: center;
}

.main__titulo {
    margin-top: 3rem;
    padding: .3rem 0;
}
.main__contenido {
    
}