/* Variables*/
:root {
    --fuentePrincipal: 'Roboto', sans-serif;
    --fuenteSecundaria: 'Lato', sans-serif;

    --separacion: 5rem;
    
    --primario: #1073BA;
    --secundario: #00DA55;
    --gris: #3B3B3B;
    --blanco: #FFFFFF;
    --blancoOscuro: #afafaf;
    --blancoOscuro2: hsl(0, 0%, 86%);
    --negro: #1F1E1E;
    --grisClaro: #e1e1e1;

    --react: #61DAFB;
    --php: #8892BF;
    --typescript: #3178C6;
    --node:  #8CCB31;
    --js:  #F7DF1E;
    --css: #1572B6;
    --sass: #C69;


}

/* Globales y reset */
html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: var(--fuentePrincipal);
    font-size: 1.6rem;
    line-height: 1.5;
    background-color: var(--blancoOscuro2);
    
}

h1 {
    font-family: var(--fuenteSecundaria);
}

h1, h2, h3 {
    font-weight: 900;
    font-family: var(--fuenteSecundaria);
    margin: calc(var(--separacion) / 2) 0;
}

h1 {
    font-size: 4.4rem;
}

h2 {
    font-size: 3.6rem;
}

h3 {
    font-size: 2.8rem;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.contenedor {
    max-width: 130rem;
    width: 90%;
    margin: 0 auto;
    border-radius: .5rem;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
}

/* Header */
.header {
    position: sticky;
    z-index: 1000;
    top: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    
    color: var(--blanco);
    background-color: var(--negro);
    padding: 0 3rem;
    .header__titulo {
        a {
            text-decoration: none;
            color: var(--blanco);
            h2 {
                padding: 1rem;
                border: 2px solid transparent;
                border-radius: .5rem;
                transition: border 200ms ease-out;

                &:hover {
                    border: 2px solid white;
                }
            }
        }
    }
}
.header__navegacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    a {
        text-decoration: none;
        font-weight: bold;
        padding: 1rem;
        color: var(--blanco);
        border: .2rem solid transparent;
        transition: all 100ms ease-in;
        &:hover{
            border: .2rem solid var(--blanco);
            border-radius: .5rem;
            transition: all 100ms ease-in;
        }
        &:last-of-type {
            margin-bottom: 2rem;
        }
    }
    .header__home {
        width: 3rem;
    }
}

@media (min-width: 768px) {
    .header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .header__navegacion {
        border-radius: .5rem;
        flex-direction: row;
        gap: 1rem;
        margin-bottom: 0;
        a{
            &:last-of-type{
                margin-bottom: 0; 
            }
        } 
    }
}

/* Main */
.main {
    padding: 0 4rem 3rem 4rem;
    background-color: var(--blancoOscuro);
}

.main__titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    padding: .3rem 0;
    gap: 1rem;
    
    .main__titulo-logo {
        width: 5rem;
    }
    /* a {
        text-decoration: none;
        color: var(--negro);
        border: 2px solid transparent;
        border-radius: .5rem;
        padding: 1rem;
        transition: box-shadow 200ms ease-in;
        &:hover {
            box-shadow: 0 0 10px var(--primario); 
        }
        cursor: auto;
    } */
}
@media (min-width: 768px) {
    .main__titulo {
        justify-content: left;
    }
}

/* Main Buscador */
.main__buscador {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
    gap: 2rem;
    .main__buscador-input {
        box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.4);
        border: 1px solid transparent;
        border-radius: .5rem;
        padding: 1rem;
        width: 100%;
        outline: none;
        &:hover {
            border: 1px solid black;
        }
        &:focus, &:active {
            border: 1px solid black;
            box-shadow: 0 0 10px var(--primario); 
        }
    }
}

.main__botones {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    background-color: var(--blancoOscuro);
    .main__boton {
        border: none;
        border-radius: .5rem;
        width: 50%;
        cursor: pointer;
        box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
        padding: 1rem 0;
        img {
            margin: 0 auto;
        }
        &:hover {
            filter: brightness(.8);
        }
    }
    .main__boton-grid {
        img {
            transform: scale(1.5);
        }
    }
    
}

.main__tags {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    margin-bottom: 3rem;
    gap: 1rem;
    
    .main__tag {
        box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
        font-weight: bold;
        text-transform: uppercase;
        color: var(--negro);
        text-decoration: none;
        padding: 1rem;
        border-radius: .5rem;
        border: 1px solid transparent;
        &:hover {
            filter: brightness(0.8);
        }
    }
    .main__tag--active {
        filter: brightness(.8);
        border: 1px solid black;
        box-shadow: 0 0 20px var(--primario)
        
    }
    #react {
        background-color: var(--react);
    }
    #php {
        background-color: var(--php);
    }
    #typescript {
        background-color: var(--typescript);
    }
    #node {
        background-color: var(--node);
    }
    #css {
        background-color: var(--css);
    }
    #sass {
        background-color: var(--sass);
    }
    #js {
        background-color: var(--js);
    }

}

@media (min-width: 768px) {
    .main__buscador {
        flex-direction: row;
        justify-content: space-between;
        .main__buscador-input {
            width: 30%;
        }
    }

    .main__botones {
        justify-content: left;
        .main__boton {
            width: 5rem;
            padding: 0;
        }
    }
    
    .main__tags {
        display: flex;
        justify-content: left;
    }
}

/* Main Contenido */
.main__contenido {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
    row-gap: 1rem;
    
}

.main__entrada {
    border-radius: 1rem;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.3);
    background-color: var(--grisClaro);
    padding: 2rem 2rem;
    transition: all 200ms ease-in;
}

.main__entrada-imagen {
    height: 18rem;
    width: 100%;
    border-radius: 1.2rem;
    transition: all 200ms ease-in;
    margin-bottom: 1rem;
}

.main__entrada-texto {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .main__entrada-columna {
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        h3, p {
            margin: 0;
        }
        h3{
            font-size: 1.5rem;
        }
        p{
            font-size: 1rem;
        }
        .categoria {
            font-size: 1rem;
            box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
            font-weight: bold;
            text-transform: uppercase;
            color: var(--negro);
            text-decoration: none;
            padding: 1rem;
            border-radius: .5rem;
            border: 1px solid transparent;
        }
        .react {
            background-color: var(--react);
        }
        .php {
            background-color: var(--php);
        }
        .typescript {
            background-color: var(--typescript);
        }
        .node {
            background-color: var(--node);
        }
        .css {
            background-color: var(--css);
        }
        .sass {
            background-color: var(--sass);
        }
        .js {
            background-color: var(--js);
        }

    }
    .main__entrada-herramientas {
        display: flex;
        justify-content: space-between;
        margin: .5rem 0;
        
        a {
            border: 3px solid transparent;
            padding: 1rem;
            &:hover {
                border: 3px solid var(--negro);
                border-radius: 1rem;
            }
            img {
                max-width: 3.5rem;
            }
        }
    }
}


.main__entrada:hover {
    filter: brightness(.9);
    cursor: pointer;
    .main__entrada-imagen {
        box-shadow: 0 0 20px var(--primario); 
    }
}

@media (min-width: 768px) {
    .main__contenido {
        display: flex;
        flex-direction: column;
    }
    .main__entrada {
        display: grid;
        grid-template-columns: 1fr 4fr;
        margin-bottom: 1rem;
        padding: 2rem 2rem;
        column-gap: 1rem;
        align-items: center;
        &:last-of-type {
            margin-bottom: 3rem;
        }
    }
    
    .main__entrada-texto {
        display: grid;
        grid-template-columns: 1.25fr 1.25fr 0.5fr;
        .main__entrada-columna {
            h3 , p {
                font-size: unset;
            }
        }
        .main__entrada-herramientas {
            
            align-items: center;
            gap: 1rem;
            a {
                padding: .5rem;
                img {
                    max-width: 4.5rem;
                }
            }
        }
    }
    .main__entrada-imagen {
        width: 100%;
        height: 15rem;
        margin-bottom: 0;
    }
    .main__entrada-columna {
        justify-content: center;
        align-items: center;
        padding: 1rem;
    }
}

/* Grid */


/* Main Paginador */

.main__paginador {
    margin-top: 3rem;
    display: flex;
    border-radius: 1rem;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    

    .main__paginador-boton {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--negro);
        cursor: pointer;
        background-color: var(--blancoOscuro2);
        padding: 1rem;
        border-radius: .5rem;
        font-weight: bold;
        p { 
            line-height: 0;
        }
        &:hover {
            filter: brightness(.9);
        }
    }

    .main__paginador-boton--off  {
        cursor: not-allowed;
        filter: brightness(.9);
    }

}

@media (min-width: 768px) {
    .main__paginador {
        margin-top: 0;
    }
}


/* Botón al header */

/* @media (min-width: 768px) {
    #toHeader {
        position: fixed;  
        bottom: 2rem;   
        right: 33rem;    
        z-index: 100; 
        height: auto;
        width: 6rem;
        border: .3rem solid black;
        border-radius: 6rem;
        background-color: var(--grisClaro);
        transition: filter 200ms ease-out;
        &:hover {
            filter: brightness(.8);
            box-shadow: 0 0 10px var(--primario); 
        }
    }
} */



